:host {
    display: block;
}

table { 
  border-collapse: collapse; 
  margin: 10px;
  margin-top: 20px;
}

tr:nth-of-type(even) { 
  background: #cccfd4; 
}

/* tr:nth-of-type(odd):hover { 
    background: #35b200;
    color: #ffffff;    
}

tr:nth-of-type(even):hover { 
    background: #35b200;
    color: #ffffff;     
} */

th { 
  background: #0c1d37; 
  color: #cccccc; 
  font-weight: bold; 
}

td, th { 
  padding: 6px; 
  border: 1px solid #cccccc; 
  text-align: left; 
}

.btn.btn-sm {
    width: 80px;
}

#header {
  text-align: center;     
    margin-left: auto;
    margin-right: auto;
}

#create {
  margin-left: 15px;
}

#jobList{
    margin-left: auto;
    margin-right: auto;
}

.footer {
  width: 100%;
  padding-left: 25px;
  padding-top: 10px;
  color: #4dff00;
  background-color: #0c1d37;
  min-height: 40px;    
  font-size: 14px;
  text-align: center;
  font-weight: bold;
}
