.container-flex {
    text-align: center;
    min-height: 800px;
}

a {
    float: left;
}

label {
    float: left;
}

.footer {
    width: 100%;
    padding-left: 50px;
    padding-top: 10px;
    color: #4dff00;
    background-color: #0c1d37;
    min-height: 40px;    
    font-size: 14px;
    text-align: left;
    font-weight: bold;
}


/* #submit {
    float: left;
} */

/* #cancel {
    float: right;
} */

/* #delete {
    float: right;
} */

button {
    float: center;
}