<!-- <a *ngFor="let icon of frameworkConfigService.socialIcons"
  [href]="icon.link"
  [title]="icon.alt">
  <img
    class="top-image"
    [src]="icon.imageFile"
    [alt]="icon.alt"
</a> -->

<div id="lang" *ngIf="frameworkConfigService.showLanguageSelector">
  <div id="flag"></div>
  English
  <span class="glyphicon glyphicon-chevron-down">
  </span>
</div>

<div *ngIf="frameworkConfigService.showUserControls">
  <span class="glyphicon glyphicon-ok" id="login" (click)="login()">_login</span>
  <span class="glyphicon glyphicon-off" id="logout" (click)="logout()">_logout</span>
</div>