:host {
    display: block;
}

/* .navbar {
    flex-grow: 1;
    display: flex;
    min-height: 80px;
    background-color: #0c1d37;
} */

.title-bar {
    flex-grow: 1;
    display: flex;
    min-height: 80px;
    background-color: #0c1d37;
}

.title-bar-small {
    flex-grow: 1;
    display: flex;
    min-height: 45px;
    background-color: #0c1d37;    
}

.menu-area {
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-right: 20px;
}

/* .nav{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-right: 20px;
} */

#navbar-text {
    text-align: left;
    margin-left: 50px;
    margin-top: 22px;
    font-size: 16px;
    font-style: bold;
    color: #4dff00;
}

.glyphicon:hover {
    color: #4dff00;
}

nav {
    text-align: center;
}

/* nav:hover {
    color: #4dff00;
} */

/* ul.nav a:hover { 
    color: #4dff00 !important; 
}

ul.nav a:focus { 
    color: #4dff00 !important; 
}

ul.nav a:active { 
    color: #4dff00 !important; 
} */

/* .navbar:hover {
    color: #4dff00;
} */

.title-bar-small {
    flex-grow: 1;
    display: flex;
    min-height: 45px;
    background-color: #0c1d37;    
}

.small-image-holder {
    flex-grow: 1;
}

.small-image {
    height: 50px;
}

span {
    margin-left: 10px;
    margin-right: 20px;
    font-size: 25px;
    line-height: 50px;
}

#logo {
    margin-top: 5px;
    background-image: url('../../assets/main-logo.png');
    height: 75px;
    width: 325px;
}

#logo:hover {
    margin-top: 5px;    
    background-image: url('../../assets/main-logo_lit.png');
    height: 75px;
    width: 325px;
}

#small_logo {
    background-image: url('../../assets/small-logo.png');
    height: 45px;
    width: 194px;
}

#small_logo:active {
    background-image: url('../../assets/small-logo_lit.png');
    height: 45px;
    width: 194px;
}

.glyphicon-menu-hamburger:hover {
    color: #4dff00;
}

.glyphicon-option-vertical:hover {
    color: #4dff00;
}

.footer {
    width: 100%;
    padding-left: 50px;
    padding-top: 10px;
    color: #4dff00;
    background-color: #0c1d37;
    min-height: 40px;    
    font-size: 14px;
    text-align: left;
    font-weight: bold;
}




