<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a routerLink="/"><div id="logo"></div></a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a routerLink="/dashboard">Dashboard</a></li>
            <li><a routerLink="/profile">Profile</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a routerLink="/login"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>            
            <li><a routerLink="/register"><span class="glyphicon glyphicon-user"></span>Register</a></li>
        </ul>
    </div>
</nav>
