<navbar></navbar>
<div class="container">

  <div id="header" class="row">
      <h3>Job Admin</h3>
  </div>

  <div class="row">
        <table id="jobList">
          <thead>
            <tr>
              <th style="width: 50px">Id</th>
              <th style="width: 250px">Title</th>
              <th style="width: 150px">Type</th>
              <th style="width: 150px">Salary</th>
              <th style="width: 200px">Employer</th>              
              <th style="width: 500px">Details</th>
              <th style="width: 185px"></th>
            </tr>
          </thead>
          <tbody>
            <tr id="jobRow" *ngFor="let row of jobs">
              <td>{{ row._id }}</td>
              <td>{{ row.title}}</td>
              <td>{{ row.type }}</td>
              <td>{{ row.salary}}</td>
              <td>{{ row.author}}</td>              
              <td>{{ row.details }}</td>
              <td><button class="btn btn-danger" (click)="onDeleteClick(row._id)" 
                onclick="window.location.reload()">Delete</button>
                <button class="btn btn-warning" (click)="toggleEdit()">Edit</button>
              </td>
            </tr>
          </tbody>
        </table>
              <div *ngIf="isEditActive">
                <form (submit)="editJob(row._id)">
                  <tr>
                  <td><input [(ngModel)]="title" placeholder="title" name="title" type="text"></td>
                  <td><input [(ngModel)]="type" placeholder="type" name="type" type="text"></td>
                  <td><input [(ngModel)]="salary" placeholder="salary" name="salary" type="text"></td>
                  <td><input [(ngModel)]="details" placeholder="details" name="details" type="text"></td>
                  <td><input type="submit" value="Save" class="btn btn-primary"></td>
                  </tr>
                </form>
              </div>
  </div>
  <div id="createBtn">
    <button (click)="toggle()"class="btn btn-primary">Add Job</button>
    <div class="addJob container" *ngIf="isActive">
    <form (submit)="createJob()">
      <div class="form-group">
        <div class="form-group">
          <label>Title</label>
          <input class="form-control" [(ngModel)]="title" placeholder="Title" name="title" type="text">
        </div>
          <label for="selectType">Job Type</label>
          <select class="form-control" [(ngModel)]="type" name="type" id="selectType">
            <option value="part-time">Part-Time</option>
            <option value="full-time">Full-Time</option>
          </select>
        </div>
        <div class="form-group">
          <label>Salary</label>
          <input class="form-control" [(ngModel)]="salary" placeholder="Salary" name="salary" type="text">
        </div>
        <div class="form-group">
          <label>Details</label>
          <textarea class="form-control" [(ngModel)]="details" name="details" rows="4" cols="50">
          </textarea>
        </div>
        <input class="btn btn-primary" type="submit" value="Submit">
    </form>
    </div>

  </div>  

</div>

<div class="footer">Copyright &copy; 2017 Dev:den Development. All Rights Reserved.</div>  