<navbar></navbar>

<div class="container-flex">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <h3>Skills Resources</h3>
    </div>
    <div class="col-md-4"></div>
  </div>
  <hr />
  <br />
  <div class="row">
    <div class="col-md-3"><a href="http://www.hackerrank.com" target="_blank"><img src="/assets/hackerrank_logo.png" width="300px;"></a></div>
    <div class="col-md-3"><a href="https://www.codewars.com" target="_blank"><img src="/assets/codewars_logo.png" width="300px;"></a></div>
    <div class="col-md-3"><a href="https://www.codeschool.com" target="_blank"><img src="/assets/codeschool_logo.png" width="300px;"></a></div>
    <div class="col-md-3"><a href="https://www.codingame.com" target="_blank"><img src="/assets/codingame_logo.png" width="300px;"></a></div>
  </div>
  <br />
  <br />
  <div class="row">
      <div class="col-md-3"><a href="https://codility.com/" target="_blank"><img src="/assets/codility_logo.png" width="300px;"></a></div>
      <div class="col-md-3"><a href="https://www.freecodecamp.org/" target="_blank"><img src="/assets/freecodecamp_logo.png" width="300px;"></a></div>
      <div class="col-md-3"><a href="https://www.pluralsight.com" target="_blank"><img src="/assets/pluralsight_logo.png" width="300px;"></a></div>
      <div class="col-md-3"><a href="https://www.lynda.com" target="_blank"><img src="/assets/lynda_logo.png" width="300px;"></a></div>      
  </div>
  <br />
</div>

<div class="footer fixed-bottom">Copyright &copy; 2017 Dev:den Development. All Rights Reserved.</div>  
