.container-flex {
    text-align: center;
    min-height: 790px;
}

.footer {
    width: 100%;
    padding-left: 50px;
    padding-top: 10px;
    color: #4dff00;
    background-color: #0c1d37;
    min-height: 40px;    
    font-size: 14px;
    text-align: left;
    font-weight: bold;
}

hr {
    width: 75%;
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: ridge;
    border-width: 1px;
    color: #0c1d37;
    background-color: #0c1d37;    
}

h4 {
    text-align: center;
}

h3 {
    text-align: center;
}