<navbar></navbar>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <h3>Job Detail</h3>
      <hr />
    </div>
    <div class="col-md-4"></div>
  </div>

  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">

      <fw-dynamic-form
        [vm]="job"
        [vmDefinition]="jobDefinition"
        [operation]="operation"
        [errorMessage]="errorMessage"
        (update)="updateJob($event)"
        (create)="createJob($event)"      
      >
      </fw-dynamic-form>
    </div>
    <div class="col-md-4"></div>
  </div>

    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4"></div>
      <div class="col-md-4"></div>
    </div>

</div>

<div class="footer">Copyright &copy; 2017 Dev:den Development. All Rights Reserved.</div>  