<navbar></navbar>
<div class="container-flex">

  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">

      <table id="userList">
        <thead>
          <tr>
            <th style="width: 100%"><h4>User Profile</h4></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><h4><b>Name:</b> {{user.fname}} {{user.lname}}</h4></td>
          </tr>
          <tr>
            <td><h4><b>Username:</b> {{ user.username}}</h4></td>
          </tr>
          <tr>
            <td><h4><b>Email:</b> {{ user.email }}</h4></td>
          </tr>
          <tr>
            <td><h4><b>User Type:</b> {{ user.role }}</h4></td>
          </tr>                                        
        </tbody>
      </table>
    </div>
    <div class="col-md-4"></div>
  </div>

  <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <br />
          <div class="editButton">
              <button type="button" class="btn btn-primary" routerLink="/edit-profile">Edit Profile</button>
          </div>
      </div>
      <div class="col-md-4"></div>
  </div>

</div>
<div class="footer">Copyright &copy; 2017 Dev:den Development. All Rights Reserved.</div>  