<navbar></navbar>
<div class="container">

  <div class="row">
    <div class="col-xs-10 col-sm-10 col-md-4"></div>
    <div class="col-xs-10 col-sm-10 col-md-4">
      <h3>Dashboard</h3>
    </div>
    <div class="col-xs-10 col-sm-10 col-md-4"></div>
  </div>

  <div id="header" class="row">
    <div class="col-xs-10 col-sm-10 col-md-6">
      <h4>Registered Developers</h4>
      <table id="userList">
        <thead>
          <tr>
            <th style="min-width: 125px">Name</th>
            <th style="min-width: 125px">Username</th>            
            <th style="min-width: 200px">Email</th>            
            <th style="min-width: 85px"></th>  
          </tr>
        </thead>
        <tbody>
          <tr id="userRow" *ngFor="let row of developers">
            <td>{{ row.fname}} {{ row.lname}}</td>
            <td>{{ row.username }}</td>            
            <td>{{ row.email }}</td>
            <td><a href="mailto:{{row.email}}?Subject=Job%20Opening" target="_top">Send Mail</a></td>                      
          </tr>
        </tbody>
      </table>
      <br />
      <h4>Registered Employers</h4>      
      <table id="userList">
          <thead>
            <tr>
              <th style="min-width: 125px">Name</th>
              <th style="min-width: 125px">Username</th>            
              <th style="min-width: 200px">Email</th>            
              <th style="min-width: 85px"></th>              
            </tr>
          </thead>
          <tbody>
            <tr id="userRow" *ngFor="let row of employers">
              <td>{{ row.fname}} {{ row.lname}}</td>
              <td>{{ row.username }}</td>            
              <td>{{ row.email }}</td>
              <td><a href="mailto:{{row.email}}?Subject=Job%20Inquiry" target="_top">Send Mail</a></td>                    
            </tr>
          </tbody>
        </table>
    </div>
    <div class="col-xs-10 col-sm-10 col-md-1"></div>
    <div class="col-xs-10 col-sm-10 col-md-6">

      <h4>Open Jobs</h4>
      <table id="jobList">
        <thead>
          <tr>
            <th style="min-width: 200px">Title</th>
            <th style="min-width: 85px">Type</th>
            <th style="min-width: 85px">Salary</th>
            <th style="min-width: 125px">Employer</th>  
            <th style="min-width: 85px"></th>                       
          </tr>
        </thead>
        <tbody>
          <tr id="jobRow" *ngFor="let row of jobs">
            <td>{{ row.title}}</td>
            <td>{{ row.type }}</td>
            <td>{{ row.salary}}</td>
            <td>{{ row.author}}</td>     
            <td><button class="btn btn-sm btn-primary">Apply</button>                  
          </tr>
        </tbody>
      </table>
    </div>

    
  </div>

</div>

<div class="footer fixed-bottom">Copyright &copy; 2017 Dev:den Development. All Rights Reserved.</div>  