<div class="container">

  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <h3>Dashboard</h3>
    </div>
    <div class="col-md-4"></div>
  </div>

  <div id="header" class="row">
    <div class="col-md-6">
      <h4>Registered Users</h4>
      <table id="userList">
        <thead>
          <tr>
            <th style="width: 250px">Name</th>
            <th style="width: 150px">User Type</th>
            <th style="width: 250px">Email</th>
          </tr>
        </thead>
        <tbody>
          <tr id="userRow" *ngFor="let row of users">
            <td>{{ row.name}}</td>
            <td>{{ row.role}}</td>
            <td>{{ row.email }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-6">
      <h4>Open Jobs</h4>
      <table id="jobList">
        <thead>
          <tr>
            <th style="width: 250px">Title</th>
            <th style="width: 150px">Type</th>
            <th style="width: 150px">Salary</th>
          </tr>
        </thead>
        <tbody>
          <tr id="jobRow" *ngFor="let row of jobs">
            <td>{{ row.title}}</td>
            <td>{{ row.type }}</td>
            <td>{{ row.salary}}</td>
          </tr>
        </tbody>
      </table>

    </div>
    <div class="col-md-4"></div>
  </div>












</div>