<div class="register-form">
  <img src="/assets/login-logo2.png" width="400" />
  <h4>Register Account</h4>
  <form (submit)="onRegister()">

    <div class="form-group">
      <label for="role">Account Type:</label>
      <select class="form-control" id="role" [(ngModel)]="role" name="role" type="select">
        <option value="developer">Developer</option>
        <option value="employer">Employer</option>
      </select>
    </div>

    <div class="form-group">
      <input class="form-control" name="fname" type="text" placeholder="First Name"  [(ngModel)]="fname">
    </div>

    <div class="form-group">
        <input class="form-control" name="lname" type="text" placeholder="Last Name"  [(ngModel)]="lname">
      </div>    

    <div class="form-group">
      <input class="form-control" name="username" type="text" placeholder="Username" [(ngModel)]="username">
    </div>

    <div class="form-group">
      <input class="form-control" name="email" type="email" placeholder="Email" [(ngModel)]="email">
    </div>

    <div class="form-group">
      <input class="form-control" name="password" type="password" placeholder="Password" [(ngModel)]="password">
    </div>

    <input type="submit" value="Register" class="btn btn-primary">
    <button id="login" [routerLink]="['/login']" class="btn btn-success">Existing User Login</button>
    
  </form>
</div>