<div class="parallax-top">
  <!-- <navbar></navbar> -->
  <br />
  <h2 id="bridge">Bridging the tech resource gap</h2>
  <br />
  <br />  
  <div class="row">
    <div class="col-xs-2 col-sm-2 col-md-5"></div>
    <div class="col-xs-8 col-sm-8 col-md-2">
        <button id="reg" class="btn btn-lg btn-primary" routerLink="/register">Register</button>
        <button id="log" class="btn btn-lg btn-primary" routerLink="/login">Login</button>  
    </div>
    <div class="col-xs-2 col-sm-2 col-md-5"></div>
  </div>
</div>
<div>
  <br />
  <h2 id="dev">Developers</h2>
  <br />
  <div class="row">
    <div class="col-xs-4 col-sm-4 col-md-4">
        <div class="card">
            <img class="card-img-top" src="https://image.ibb.co/ei9kba/tasks.png" alt="tasks" border="0" height="150px;">
            <div class="card-block">
                <h4 class="text-bold">Create a Profile</h4>
            </div>
        </div>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4">
        <img src="https://image.ibb.co/k5XGhF/coding_1.png" alt="coding 1" border="0" height="150px;"/>
      <h4>Level up your Coding Skills</h4>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4">
        <img src="https://image.ibb.co/gEb3Uv/job_1.png" alt="job 1" border="0" height="150px;"/>
      <h4>Find a Job</h4>
    </div>
  </div>




</div>