<div class="parallax-top">
  <navbar></navbar>
  <br />
  <h1 id="bridge" >Bridge the tech resource gap</h1>
  <br />
  <br />  
  <div class="row">
    <div class="col-xs-5 col-sm-5 col-md-5"></div>
    <div class="col-xs-2 col-sm-2 col-md-2">
        <!-- <button id="log" class="btn btn-lg btn-primary" routerLink="/login">Login</button>        
        <button id="reg" class="btn btn-lg btn-primary" routerLink="/register">Register</button> -->
    </div>
    <div class="col-xs-5 col-sm-5 col-md-5"></div>
  </div>
</div>

<div>
  <div class="row">
    <div class="col-xs-2 col-sm-2 col-md-2"></div>
    <div class="col-xs-8 col-sm-8 col-md-8">
      <h2 id="dev">Developers</h2>
      <br />
      <div id="cardRow">
        <div class="card">
            <img class="card-img-top" src="https://image.ibb.co/ei9kba/tasks.png" alt="tasks" border="0" width="250px;">
            <div class="card-block">
                <h4 class="text-bold">Create a Profile</h4>           
            </div>
        </div>&nbsp;&nbsp;
        <div class="card">
            <img class="card-img-top" src="https://image.ibb.co/k5XGhF/coding_1.png" alt="coding 1" border="0" width="250px;">
            <div class="card-block">
                <h4 class="text-bold">Level up your Coding Skills</h4>             
            </div>
        </div>&nbsp;&nbsp;
        <div class="card">
            <img class="card-img-top" src="https://image.ibb.co/gEb3Uv/job_1.png" alt="job 1" border="0" width="250px;">
            <div class="card-block">
                <h4 class="text-bold">Find a Job</h4>           
            </div>
        </div>
      </div>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2">
    </div>
  </div>
</div>
<br />
<div class="parallax-center"></div>

<div>
    <div class="row">  
      <div class="col-xs-2 col-sm-2 col-md-2"></div>
      <div class="col-xs-8 col-sm-8 col-md-8">
        <h2 id="dev">Employers</h2>
        <br />
        <div id="cardRow">        
        <div class="card">
            <img class="card-img-top" src="https://image.ibb.co/jRyiUv/job_3.png" alt="job 3" border="0" width="250px;">
            <div class="card-block">
                <h4 class="text-bold">Post a Job Opening</h4>
            </div>
        </div>&nbsp;&nbsp;
        <div class="card">
            <img class="card-img-top" src="https://image.ibb.co/jYXtUv/team_4.png" alt="team 4" border="0" width="250px;">
            <div class="card-block">
                <h4 class="text-bold">Browse the Dev Pool</h4>            
            </div>
        </div>&nbsp;&nbsp;
        <div class="card">
            <img class="card-img-top" src="https://image.ibb.co/dPwywa/worker.png" alt="worker" border="0" width="250px;">
            <div class="card-block">
                <h4 class="text-bold">Hire a Dev</h4>             
            </div>
        </div>
      </div>
    </div>
      <div class="col-xs-2 col-sm-2 col-md-2"></div>
    </div>
</div>
<br />

<div class="parallax-bottom">

</div>

<div class="footer">Copyright &copy; 2017 Dev:den Development. All Rights Reserved.</div>  

